body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh;
    padding: 20px;
    font-family: Arial, sans-serif;
    background-image: url("https://i.ibb.co/HTBXbhh/wp7442224.jpg");
    background-size: cover;
    background-position: center;
    color: white;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, h3, p {
    text-align: center;
}

select {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    color: black; /* Change the font color for dropdown menus */
}

.fade-out {
    opacity: 0;
    transition: opacity 0.8s ease-out;
}

/* Стили для панели навигации */
/* Стили для панели навигации */
.nav-container {
    background-color: black;
    display: flex;
    align-items: center;
    height: 60px;
    padding: 0;
}

.nav-container .logo {
    margin-right: 10px;
    width: 20px;
}

.nav-container .site-title {
    color: white;
    font-size: 18px;
    margin: 0;
}

.nav-container .help-text {
    color: white;
    font-size: 14px;
    margin-left: 10px;
}

.nav-container .divider {
    width: 1px;
    height: 40px;
    background-color: white;
    margin: 0 10px; /* Adjust the margin as needed */
}

/* Остальные стили */
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh;
    padding: 20px;
    font-family: Arial, sans-serif;
    background-image: url("https://i.ibb.co/HTBXbhh/wp7442224.jpg");
    background-size: cover;
    background-position: center;
    color: white;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1; /* Расширяем контейнер, чтобы занимал доступное пространство */
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, h3, p {
    text-align: center;
}

select {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    color: black;
}

.fade-out {
    opacity: 0;
    transition: opacity 0.8s ease-out;
}

#article-container {
    position: relative;
    padding: 0 20px;
    text-align: justify;
    hyphens: auto;
    word-break: break-word;
    max-width: 700px;
    margin: 0 auto;
}
html, body {
    margin: 0;
    padding: 0;
}
