<!DOCTYPE html>
<html>
<head>
    <title>911 DISPATCHER</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}" type="image/png">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
<div class="nav-container">
    <a href="{{ url_for('index') }}" class="home-link">
        <img src="{{ url_for('static', filename='home.png') }}" alt="Home">
    </a>
</div>

    <h1>911 DISPATCHER</h1>
    <h3>I'm here to provide help</h3>

    <div class="content">
        <p>Please select the type of emergency:</p>
        <select id="emergency-type" onchange="handleEmergencyType()">
            <option value="" selected disabled>Select</option>
            <option value="natural-disasters">Natural Disasters</option>
            <option value="medical-emergencies">Medical Emergencies</option>
            <option value="fire-incidents">Fire Incidents</option>
            <option value="criminal-activity">Criminal Activity</option>
            <option value="criminal-offenses">Criminal Offenses</option>
        </select>

        <p>Please select the specific emergency:</p>
        <select id="specific-emergency" disabled>
            <option value="" selected disabled>Select</option>
        </select>

        <button id="proceed-button" onclick="loadArticle()" disabled>Proceed</button>

        <div id="article-container"></div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
